@model XlationAgreement

@{
    ViewData["Title"] = "Agreement";
}

<h1>@ViewData["Title"]</h1>

@using (Html.BeginForm("Save", "XlationAgreements"))
{
    @*<div class="form-group">
        @Html.LabelFor(m => m.Xlators)
        @Html.DropDownListFor(m => m.Xlators, new SelectList(Model.Xlators, "Id", "Select Xlator", new { @class = "form-control" }))
    </div>*@
}